/* Impression*/

@page {
	size: A4 landscape;
}

body {
	background: white;
	margin: 0;
	line-height: 1;
	font-size:12pt;
}
main {
	width: 260mm;
	height: 190mm;
}
.yamTable {
	margin: 0;
}
.yamTable caption {
	line-height: 1;
}
.yamTable thead th:first-child {
	font-size: 16pt;
	padding: 2pt;
}
.yamTable thead th:nth-child(2) {
	font-size: 14pt;
	padding: 2pt;
}
.yamTable thead th, .yamTable .total th {
	font-size: 10pt;
	padding: 2pt;
}
tbody tr:not(.total) th {
	font-size: 14pt;
	padding: 2pt;
}
tbody tr:not(.total) th:nth-child(2) {
	font-size: 11pt;
}
.yamTable .total th {
	font-size: 14pt;
	padding: 2pt;
	line-height: 1.5;
}
.yamTable .total.prime th, .yamTable .total.total1again th {
	font-size: 10pt;
	padding: 2pt;
}
.yamTable tfoot .total th {
	font-size: 18pt;
	padding: 2pt;
	line-height: 2.5;
}
.yamTable th, .yamTable td {
    padding: 2pt;
}	
caption.impr {
	display: table-caption;
}
th.impr, td.impr {
	display: table-cell;
}
div.impr {
	display: block;
}
header, footer, input, output, button {
	display: none;
}
.yamTable > div {
	flex: 1;
}
.yamTable > div:first-child {
	padding-right: 4px;
}
.yamTable > div:last-child {
	padding-left: 4px;
}
.yamTable table {
	width: 100%;
	box-shadow: none;
	border: 3px solid #5560fd;
}
.yamTable thead th {
	width: 7.5%;
	position: static;
}
.yamTable thead th:first-child {
	width: 20%;
}
.yamTable thead th:nth-child(2) {
	width: 16%;
}
.yamTable tbody tr:not(.total) td:nth-child(4n+3) {
	border-left: 2px solid #5560fd;
}
.yamTable tbody tr.total td:nth-child(4n+2) {
	border-left: 2px solid #5560fd;
}
.yamTable tfoot td {
	border-left: 2px solid #9c4fc5;
}

tbody tr:not(.total) td:nth-child(2n+1), tbody tr:not(.total):nth-child(2n) td:nth-child(2n+1), tbody tr.total td:nth-child(2n), tbody tr.total:nth-child(2n) td:nth-child(2n) {
    background-color: transparent;
}
.yamTable td {
	border: 1px solid #cac9cb;
}
.total {
    border-style: solid;
	border-color: #333;
}
.total.totalup {
    border-top: 2px;
}
.total.totalmiddle {
    border: 0px;
}
.total.totaldown {
    border-bottom: 2px;
}

/* Firefox */
@supports (-moz-appearance:none) {
	main {
		width: 260mm;
		transform: rotate(270deg) translate(-260mm);
		transform-origin: 0 0;
	}
}

/* Safari */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
	main {
/*		width: 240mm; */
		transform: rotate(270deg) translate(-260mm);
		transform-origin: 0 0;
	}
}}
