* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
body {
	background: #fff;
	font: normal 1.6em Brush Script MT, cursive;
	line-height: 1.6;
	color: #333;
}
h1 {
	font-size: 2em;
	line-height: 1.2em;
	padding: 0.5em 0.3em 0.2em 0.3em;
	text-align: center;
	color: #6c6b6b;
}

.yamTable {
	display: flex;
}
.yamTable table {
	border-collapse: collapse;
	border: 3px solid black;
}
.yamTable caption {
	font-size: 2.8rem;
}
.yamTable thead th, .yamTable .total th {
	font-size: 1.2rem;
	background: lightgrey;
}
.yamTable thead th:first-child, .yamTable .total th {
	font-size: 1.5rem;
}
.yamTable .total td {
	background: lightgrey;
}
.yamTable tfoot .total > * {
	background: darkgray;
	font-size: 2rem;
}
.yamTable td {
	text-align: center;
}
.yamTable input  {
	width: 4rem;
	text-align: center;
}
.yamTable th, .yamTable td {
	border: 1px solid darkgray;
}
.yamTable thead tr, .yamTable tr.total {
	border: 3px solid black;
}
.yamTable tbody tr:not(.total) th:nth-child(4n + 2), .yamTable tbody tr:not(.total) td:nth-child(4n + 2) {
	border-right-width: 3px;
	border-right-color: black;
}
.yamTable tbody .total th:nth-child(4n + 1), .yamTable tbody .total td:nth-child(4n + 1) {
	border-right-width: 3px;
	border-right-color: black;
}
.yamTable tfoot th, .yamTable tfoot td {
	border-right-width: 2px;
}

.impr {
	display: none;
}

footer {
	background: #2d2d2d;
	border-top: 0.2em solid #fff;
	border-bottom: 0.2em solid #a52730;
}
footer p {
	width: 90%;
	margin: 0 auto;
	color: #e2e2e2;
	font-size: 0.7em;
	padding: 2em 0;
	text-align: center;
	line-height: 1.2;
}
footer a {
	color: #fff;
	font-weight: bold;
}
