@font-face {
	font-family: 'DollieScript';
	font-style: normal;
	font-weight: 400;
	src: local('DollieScript'),
		url(fonts/DollieScript.ttf) format('truetype');
}
@font-face {
	font-family: 'kuriland';
	font-style: normal;
	font-weight: 400;
	src: local('kuriland'),
		url(fonts/kuriland.ttf) format('truetype');
}
* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
body {
	background: linear-gradient(45deg,#4158d0,#c850c0);
	font: normal 3rem "DollieScript", Helvetica, Arial, Sans-Serif;
	line-height: 1.6;
	color: #333;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}
header {
	position: relative;
}
#btnImpr {
    position: absolute;
    top: 25px;
    right: 20px;
	font-size: 1.6rem;
	padding: 3px 9px;
	border-radius: 8px;
}
h1 {
	font-size: 8rem;
	line-height: .5;
	padding: 5rem 2rem 2rem 2rem;
	text-align: center;
	color: #f1f1f1;
}
.digit {
	font-family: "Kuriland", Helvetica, Arial, Sans-Serif;
}

.yamTable {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	line-height: 1.2;
}
.yamTable table {
	border-collapse: collapse;
	background: white;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
	position: relative
}
.yamTable caption {
	font-size: 8rem;
	line-height: .5;
	color: #5560fd;
}
.yamTable th {
	font-weight: normal;
	text-align: center;
}
.yamTable th, .yamTable td {
	padding: 2px 20px;
	text-align: center;
}
.yamTable thead th {
	position: sticky;
	top: 0;
}
.yamTable thead th:first-child {
	font-size: 3rem;
}
.yamTable thead th, .yamTable .total th {
	font-size: 2rem;
	background: #5560fd;
	color: white;
}
.yamTable .total th {
	font-size: 3rem;
}
.yamTable .total td {
}
.yamTable .total.prime th, .yamTable .total.total1again th {
	font-size: 2.5rem;
	background: #7b95fd;
}
.yamTable tfoot .total > * {
	background: #d0aae7;
}
.yamTable tfoot .total th {
	background: #9c4fc5;
	color: white;
	font-size: 5rem;
	line-height: 1.8;
}
.yamTable input  {
	width: 4rem;
	font-family: "Kuriland", Helvetica, Arial, Sans-Serif;
	font-size: 2rem;
	text-align: center;
	border:none;
	background: transparent;
}
.yamTable output {
	font-family: "Kuriland", Helvetica, Arial, Sans-Serif;
}
.yamTable tfoot output {
	font-size: 6rem;
}

tbody tr:nth-child(2n) {
    background-color: #f5f5f5;
}
tbody tr:not(.total) th {
    font-size: 2rem;
}
tbody tr:not(.total) td:nth-child(2n + 1) {
    background-color: #f5f5f5;
}
tbody tr:not(.total):nth-child(even) td:nth-child(2n + 1) {
    background-color: #e5e5e5;
}
tbody tr.total td:nth-child(even) {
    background-color: #cac9cb;
}$
tbody tr.total td:nth-child(odd) {
    background-color: #e5e5e5;
}
tbody tr.total:nth-child(even) td:nth-child(2n) {
    background-color: #e5e5e5;
}

.impr {
	display: none;
}

footer p {
	margin: 0 auto;
	color: #f1f1f1;
	padding: 3rem 0;
	text-align: center;
	font-size: 3rem;
	line-height: 1;
}
footer a {
	color: #fff;
	font-weight: bold;
}
footer a:hover, footer a:focus {
	color: #d0aae7;
}

/* Mobile */
@media (max-width: 500px) {
	body {
		font-size: 1.5rem;
	}
	h1 {
		font-size: 6rem;
	}  
	.yamTable th, .yamTable td {
		padding: 2px 6px;
	}
	.yamTable th {
		/*font-size: 1.2rem;*/
	}
	.yamTable .total th, .yamTable .total.prime th, .yamTable .total.total1again th  {
		/*font-size: 2.2rem;*/
	}
	.yamTable thead th, .yamTable thead th:first-child {
		/*font-size: 1.6rem;*/
	}
	.yamTable tfoot .total th {
		/*font-size: 3.5rem;*/
	}
	.yamTable input  {
		width: 3rem;*/
	}
}
